body, html {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url("assets/pictures/samuel-ferrara-1527pjeb6jg-unsplash.webp");
}

#sign-up-body {
    background-image: url("assets/pictures/kazuend-19SC2oaVZW0-unsplash.jpg");
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

nav {
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 3px 0px #0a0a23;
}

.nav-items a, .footer a {
    color: white;
    text-decoration: none;
}

#about-body {
    background-image: none;
}

/***** NAV *****/

.nav-items, .footer-items {
    margin: 0;
    padding: 10px 0px 10px 0px;
    list-style: none;
    background-color: #0a0a23;
    color: white;
    display: flex;
}

.nav-items p, .footer-items p {
    margin-bottom: auto;
}

.nav-items p:hover, .footer-items p:hover, .footer-items a:hover, .nav-items a:hover {
    color: #4f9cff;
    transition-duration: 0.5s;
    cursor: pointer;
}

.nav-items li, .footer-items li {
    display: inline-flex;
    flex-grow: 1;
    font-size: 24px;
}

.nav-items li:first-child, .footer-items li:first-child {
    justify-content: flex-start;
    padding-left: 0.5em;
    font-weight: 700;
}

.nav-items li:not(:first-child) {
    justify-content: center;
    max-width: 5em;
}

/***** FOOTER *****/

.footer-items li:not(:first-child) {
    justify-content: center;
}

.footer-items li:nth-child(2) {
    max-width: 6em;
}

.footer-items li:last-child {
    max-width: 10em;
}

#footer-legal, #footer-about {
    margin-bottom: auto;
}

.modal-dialog {
    max-width: 600px;
}

.text-middle {
    color: white;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.img-thumbnail {
    background-color: rgba(240, 240, 240, 0.85);
    box-shadow: 0px 0px 10px 0px #0a0a23;
}

.free-join-heading {
    top: 1em;
    color: white;
    font-size: 3em;
    font-weight: 800;
}

.sign-up-heading {
    color: black;
    font-size: 3em;
    font-weight: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-button {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-up-area, .login-area {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

#profile-icon {
    display: none;
}

.form-title {
    text-align: center;
}